---
layout: default
---

<div class="home">

  <h1 class="page-heading">博客列表</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%F" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>

  <div class="pagination-content">
  {% if paginator.total_pages > 1 %}
  <ul class="custom-pagination">
    <li>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
  {% else %}
    <span>&laquo;</span>
  {% endif %}
    </li>

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="active">
        <a href="javascript: void(0)">{{ page }}</a>
      </li>
    {% elsif page == 1 %}
      <li>
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      </li>
    {% else %}
      <li>
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      </li>
    {% endif %}
  {% endfor %}

  <li>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
  {% else %}
    <span>&raquo;</span>
  {% endif %}
  </li>
  </ul>
{% endif %}
  </div>
</div>
